
/* 
#596670
rgba(89, 102, 112, 0.9)
#441824
rgba(68, 24, 36, 0.9)
#071838
rgba(7, 24, 56, 0.9)
 */

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.footer {
  background-color:#596670;
}

.contact {
  padding: 60px 10px;
}

.rounded-pill {
  border-radius: 5rem;
}

.logo {
  padding: 5px 0;
  height: auto;
  width: 180px;
}

.menu-icon {
  height: auto;
  width: 35px;
}

.navbar-custom {
  background-color: rgba(89, 102, 112, 0.9);
  padding: 0 10px;
}

.navbar-toggler {
  outline: transparent;
  border: none;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

div.masthead {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.masthead__logo {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 60%;
}

.bg-image {
  /* background-color: #596670; */
  /* background: radial-gradient(
    circle,
    #596670 0%,
    #071838 100%
); */
  background-image: url("../img/framing.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  /* filter: blur(4px); */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

div.masthead .masthead-content {
  z-index: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
  line-height: 1.1;
  text-shadow: 0px 0px 2px #fff;
}

div.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
  text-shadow: 0px 0px 2px #fff;
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  padding: 1rem;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #596670 !important;
  border-color: #596670 !important;
}

@media (min-width: 768px) {
  .btn-primary {
    padding: 1.5rem 3rem;
  }

  .masthead__logo {
    width: 40%;
  }
}

@media (min-width: 992px) {
  div.masthead .masthead-content .masthead-heading {
    font-size: 5rem;
  }
  div.masthead .masthead-content .masthead-subheading {
    font-size: 3rem;
  }
}



